<h3>重新设置这个部门的信息：</h3>
<br>

<%= render 'form', branch: @branch %>

<%= content_for :sidebar do %>
  <div>
    <h5>说明：</h5>
    <p>
      必须要有一个顶级的汇总部门作为各部门的分支结点，以便于统计信息；
    </p>
    <p>
      不要让一个部门隶属于自己，也不要让两个部门相互隶属，那将造成枝节混乱~
    </p>
  </div>
<% end %>
