<div class="card">
  <div class="card-block">
    <h4 class="card-title">注册需知</h4>
    <p class="card-text">只有计划创建一套完整的设备管理系统才需要注册。注册后，您将成为系统的顶级管理员。</p>
    <p>注册后，您要</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      1.添加设备分类信息；<br>
      <p>
        系统暂时只支持两级分类：顶级分类和二级分类。例如：<br>大型设备，中型设备，小型设备<br>为顶级分类，其它的如：电脑、激光打印机、发电机等设为二级分类。
      </p>
    </li>
    <li class="list-group-item">
      2.添加部门信息；<br>
      <p>
        必需先创建一个顶级部门做为其它部门的主管单位，以充当新购设备的入库、分发和收回。
      </p>
    </li>
    <li class="list-group-item">3.添加部门管理员；每个部门都要设立一个设备管理员，以便于登记、领用和核对设备。设备管理由系统的注册者创建，无需要另外注册。</li>
  </ul>
  <div class="card-block">
    欢迎使用，如有问题，请与我们联系：wotogo@126.com
  </div>
</div>
