  <hr>
  <div class="container bg-dark">
    <div class="row justify-content-center" style="margin-bottom:15px;">
      <div class="col-12">email wotogo@126.com to contact me </div>
      <div class="col-12">QQ群：110803369</div>
    </div>
  </div>

